.rate {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    padding-block: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 2rem;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
    /* color: #86e7fc; */
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
    /* color: #6abab4; */
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
    /* color: #7dc4d4; */
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */