#navbar {
    width: 80%;
    margin-inline: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border-bottom: 1px solid rgba(231, 231, 242, 0.8);
    font-size: 1.25rem;
    height: 4rem;
    text-decoration: none;
    color: rgb(11, 11, 50);
}

#navbar a {
    text-decoration: none;
    color: #111;
    transition: all 200ms ease-in-out;
}

#navbar a:hover {
    text-decoration: underline;
    color: rgba(231, 231, 242, 0.8);
}

.navbar-nav {
    display: flex;
    gap: 1em;
    list-style: none;
}

#navbar .navbar__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#navbar .navbar__brand__logo {
    width: 2.25em;
}

.navbar__about {
    font-size: 1.25rem;
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    #navbar {
        width: 100%;
        font-size: 1rem;
        margin-inline: 0;
    }
}