#myMap {
    z-index: 1;
    padding: 1em !important;
}

.mapboxgl-popup-content {
    width: 300px;
}

mapbox-search-box {
    display: block;
    width: 300px;
}

#marker-details {
    position: absolute;
    z-index: 999;
    top: 1em;
    right: 50px;
    display: flex;
    flex-direction: column;
    background: rgba(244, 244, 244, 0.8);
    width: 300px;
    height: 600px;
    border-radius: 1em;
    border: 1px solid black;
    font-size: 1.2em;
    padding: 1em;
}

.marker-details--scroll {
    width: 100%;
    flex-grow: 1;
    display: flex;
    gap: 1em;
    margin: 1em auto;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.marker-details__user {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.marker-details__user img {
    width: 3.5em;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.marker-details__rating {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    gap: 0.25em;
}

.marker-details__memory {
    width: 100%;
    flex-grow: 1;
    font-size: 1.25rem;
    padding: 0.5em;
    text-align: left;
    border-radius: 0.5em;
}

.marker-details__place {
    display: flex;
    align-items: center;
    gap: 1em;
}

.marker-details__name {
    flex-grow: 1;
}