#myMap {
    z-index: 1;
    padding: 1em !important;
    font-family: 'Poppins', sans-serif;
}

.mapboxgl-popup-content {
    width: 300px;
}

mapbox-search-box {
    display: block;
    width: 300px;
}

.pin.true {
    color: #0075C4;
}

.pin.false {
    color: #82a139;
}