#myMap {
    z-index: 1;
    padding: 1em !important;
    font-family: 'Poppins', sans-serif;
}

.mapboxgl-popup-content {
    width: 300px;
}

mapbox-search-box {
    display: block;
    width: 300px;
}