.error-auth__box {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    padding: .7rem .2rem;
    background: #FCE8DB;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    position: relative;
    
}

.error-auth__message {
    font-size: .8rem;
    font-weight: 500;
    color: #FF4B2B;
    padding: 0 .3rem 0 .3rem;
}

.error-auth__icon {
    width: 1rem;
    height: 1rem;
    
}

.error-auth__icon--close {
    transform: translateY(-.7rem);
}

.error-auth__close{
    position: absolute;
    top:1rem;
    right:-1rem;
    z-index: 50;
}

.error-auth{
    font-size: .5rem;
    position: fixed;
}
.error-auth__message-small{
    font-size: x-small;
}