@import url('../src/styles/container/container.css');
@import 'https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css';
@import 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css';
@import url('../src/styles/slideshow/slideshow.css');
@import url('../src/styles/profile/profile.css');
@import url('../src/styles/error/error.css');
@import url('../src/styles/form/form.css');
@import url('../src/styles/sidebar/sidebar.css');
@import url('../src/styles/sidebar/friends.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
@import url('../src/styles/welcome-page/welcome-page.css');
@import url('../src/styles/navbar/navbar.css');
@import url('../src/styles/homepage/homepage.css');
@import url('../src/styles/keys/keys.css');
@import url('../src/styles/marker-details/marker-details.css');

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

svg {
  fill: currentColor;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

.bold {
  font-weight: 700;
}

.btn-ghost {
  padding: 0.75em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background: transparent;
  border-radius: 9999px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  border: none;
}

.btn-ghost:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.btn-ghost:hover svg {
  background-color: #fff;
  border-radius: 50%;
}

svg.search {
  fill: black;
}