.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.form__input-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.4rem;
}

.form__input {
    padding: 12px 16px;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    font-family: inherit;
    background-color: transparent;
}

.form__label {
    font-size: .9rem;
    color: #666;
    padding-bottom: .4rem;
}

.form__input:focus {
    outline: none;
}

.form__input:focus-within {
    border: 1.5px solid #2d79f3;
}

.form__title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.form__button {
    margin: 2rem 0 1rem;
    width: fit-content;
    cursor: pointer;
    border-radius: 20px;
    border-style: none;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.1s linear;
    background-color: #111111;
    color: #ffffff;
}

.form__button-ghost {
    background-color: transparent;
    border-color: #c3c3c3;
}

.form__link {
    color: #111111;
}

.form__password__label {
    display: flex;
}

.form__password__label>label {
    flex-grow: 1;
}

.form__password__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
    font-size: .9rem;
    color: #666;
    padding-bottom: .4rem;
}

.form__password__wrapper svg {
    fill: none;
}

.form__password__wrapper p {
    min-width: 3em;
}

.form__error-container {
    width: 100%;
}

.error__error-message {
    position: absolute;
    font-size: 12px;
    color: #FF4B2B;
}

.form__title-popup {
    font-size: 1.2rem;
    text-align: center;
    margin: 1em 0;
}

/* .form__memory {
    position: relative;
    width: 34rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 2rem;
    margin-top: 2rem;
} */

.form__memory__textarea {
    width: 100%;
    resize: none;
    border: none;
    background-color: #F4F4F4;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0 1em;
}

.form__date {
    background-color: #F4F4F4;
}

.form__memory__textarea:focus {
    outline: none;
}

.form__button--container {
    display: flex;
    gap: 10px;
}

.form__button--cancel {
    background-color: transparent;
    border: none;
    color: #111111;
    padding: 1em 0.5em;
    flex: 1;
}

.form__button--add {
    border: none;
    font-size: 0.7rem;
    padding: 1em 0.5em;
    flex: 1;
}

.form__button--label {
	display: flex;
	align-items: center;
    color: #c3c3c3;
    width: 14rem;
}

.form__button--img {
    width: 2em;
    margin-right: .5em;
}

input[type=file]::file-selector-button {
	background-color: unset;
	border: none;
	display: none;
}